.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.history-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f3f4f6;
}
